
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Content {
	<!-- Content wrapper start -->
	<div class="content-wrapper" style="display: flex; justify-content: center">

			<img style="border-radius: 100%" src="~/home/public/pictures/icon/Logo.png" alt="Max Admin Dashboard" />
		<!-- Row start -->

		<!-- Row end -->

		<!-- Row start -->

		<!-- Row end -->

		<!-- Row start -->

		<!-- Row end -->

		<!-- Row start -->

		<!-- Row end -->

		<!-- Row start -->

		<!-- Row end -->

	</div>
	<!-- Content wrapper end -->

	<!-- App Footer start -->
	<div class="app-footer">
		<span>© Private</span>
	</div>
	<!-- App footer end -->
}

