<div class="product-detail-info">
    <div class="product-detail-image">
        <div class="detail-image-left">

        </div>
        <div class="detail-image-right">

        </div>
    </div>
</div>

<div class="product-detail-summary">

</div>