<div class="product-detail-partner">
    <p>THE PERFECT PARTNER</p>
    <div class="products-perfect-partner">
        <div class="perfect-partner">
            <a href="#">
                <img src="pictures/products/shoes-woman.jpg" alt="">
                <p>LEATHER TRACK SOLE KNEE-HIGH BOOTS</p>
                <p class="detail-price"><span>119</span> VND</p>
            </a>
        </div>
        <div class="perfect-partner">
            <a href="#">
                <img src="pictures/products/skirt-women.jpg" alt="">
                <p>LONG WOOL AND ALPACA BLEND KNIT SKIRT</p>
                <p class="detail-price"><span>46</span> VND</p>
            </a>
        </div>
        <div class="perfect-partner">
            <a href="#">
                <img src="pictures/products/sweater-women.jpg" alt="">
                <p>KNIT SWEATER WITH TRIMS</p>
                <p class="detail-price"><span>36</span> VND</p>
            </a>
        </div>
        <div class="perfect-partner">
            <a href="#">
                <img src="pictures/products/hat-women.jpg" alt="">
                <p>KNIT BEANIE</p>
                <p class="detail-price"><span>16</span> VND</p>
            </a>
        </div>

    </div>
</div>