<div class="product-detail-exploring">
    <p>KEEP EXPLORING</p>
    <div class="products-perfect-partner">
        <div class="perfect-partner">
            <a href="#">
                <img src="pictures/products/jacket-women-2.jpg" alt="">
                <p>CROPPED FAUX SHEARLING PUFFER JACKET</p>
                <p class="detail-price"><span>60</span> VND</p>
            </a>
        </div>
        <div class="perfect-partner">
            <a href="#">
                <img src="pictures/products/jacket-women-3.jpg" alt="">
                <p>ZW COLLECTION DOUBLE-FACED WAISTCOAT</p>
                <p class="detail-price"><span>46</span> VND</p>
            </a>
        </div>
        <div class="perfect-partner">
            <a href="#">
                <img src="pictures/products/jacket-women-4.jpg" alt="">
                <p>ZW COLLECTION CONTRAST WOOL BLEND TRENCH COAT</p>
                <p class="detail-price"><span>46</span> VND</p>
            </a>
        </div>
    </div>
</div>