<div class="formIG">
    <div class="container">
        <div class="wrap">
            <div class="heading">
                <h2 class="title">Popular Instagram Photos</h2>
            </div>
            <div class="dotgrid scrollto">
                <div class="wrapper">
                    <div class="item">
                        <div class="dot-image">
                            <a href=""></a>
                            <div class="thumbnail">
                                <img src="~/public/pictures/display-products/female-japanese-small.jpg" alt="">
                            </div>
                            <div class="actions">
                                <i class="ri-instagram-line">

                                </i>
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="dot-image">
                            <a href=""></a>
                            <div class="thumbnail">
                                <img src="~/public/pictures/display-products/female-japanese-small.jpg" alt="">
                            </div>
                            <div class="actions">
                                <i class="ri-instagram-line">

                                </i>
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="dot-image">
                            <a href=""></a>
                            <div class="thumbnail">
                                <img src="~/public/pictures/display-products/female-japanese-small.jpg" alt="">
                            </div>
                            <div class="actions">
                                <i class="ri-instagram-line">

                                </i>
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="dot-image">
                            <a href=""></a>
                            <div class="thumbnail">
                                <img src="~/public/pictures/display-products/female-japanese-small.jpg" alt="">
                            </div>
                            <div class="actions">
                                <i class="ri-instagram-line">

                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>