<div>
    <main>
        <div class="slider">
            <div class="sliderbox swiper">
                <div class="wrap swiper-wrapper">
                    <div class="item swiper-slide">
                        <div class="image">
                            <div class="ob-cover">
                                <img src="pictures/display-products/female-model-big.jpg" alt="">
                            </div>
                            <div class="title-info">
                                <div class="container wide">
                                    <div class="wrap">

                                        <h3 class="title">WOMEN</h3>
                                        <div class="button"><a href="#" class="primary-btn" id="special-prices-link">Shop now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="image">
                            <div class="ob-cover">
                                <img src="pictures/display-products/female-posting.jpg" alt="">
                            </div>
                            <div class="title-info">
                                <div class="container wide">
                                    <div class="wrap">

                                        <h3 class="title">Find your style</h3>
                                        <div class="button"><a href="#" class="primary-btn" id="products-categories-link">Shop now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item swiper-slide">
                        <div class="image">
                            <div class="ob-cover">
                                <img src="pictures/display-products/female-japanese.jpg" alt="">
                            </div>
                            <div class="title-info">
                                <div class="container wide">
                                    <div class="wrap">

                                        <h3 class="title">Feel the difference</h3>
                                        <div class="button"><a href="#" class="primary-btn" id="category-view-1-link">Shop now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-pagination">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </main>
</div>