@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/home/styles/pages/categories.css" />
    <link rel="stylesheet" href="~/home/styles/pages/media-categories.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
}

<main class="main-index">

    <partial name="_categoriesSliderPartial.cshtml" />
    <!-- private-header-video -->

    <partial name="_categoriesTopShowPartial.cshtml" />
    <!-- first section -->

    <partial name="_categoriesTypesOfProductPartial.cshtml" />
    <!-- second section -->

    <partial name="_categoriesProductsPartial.cshtml" />
    <!-- third section -->
    <div class="banner">
        <div class="container">
            <div class="wrap">
                <div class="content">
                    <span>Promo</span>
                    <h3 class="title1">Get ready!<br>Winter is coming</h3>
                    <div class="button"><a href="">Go get it</a></div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_categoriesInstagramPartial.cshtml" />
</main>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="~/home/scripts/categories.js"></script>
}



