<form action="">
    <div class="container">
        <div class="l-container">
            <div class="l-top-container">
                <p>DELIVERY</p>
            </div>
            <div class="l-mid-container">
                <p><i class="ri-truck-line"></i> Ship to an address</p>
            </div>
            <div class="l-bot-container">
                <div class="info-wraper">
                    <p>Information</p>
                    <div class="gender">
                        <span><input type="radio" name="gen"> male</span>
                        <span><input type="radio" name="gen"> female</span>
                        <span><input type="radio" name="gen"> other</span>
                    </div>
                    <div class="contact">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone">
                    </div>
                </div>
                <div class="adress-wraper">
                    <p>Shipping address</p>
                    <div class="info-address">
                        <select name="City" id="">
                            <option value="">City</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        <select name="District" id="">
                            <option value="">District</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        <select name="Wards" id="">
                            <option value="">Wards</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        <input type="text" placeholder="Address">
                    </div>
                    <div class="requirements">
                        <input type="text" placeholder="Other requirements">
                        <div class="requirements-check">
                            <span><input type="checkbox"> Print invoice</span>
                            <span><input type="radio" name="pay"> Cash on delivery</span>
                            <span><input type="radio" name="pay"> Digital payment</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="r-container">
            <div class="r-container-head">
                <span>ORDER SUMMARY</span>
            </div>
            <div>
                <div class="inf-order">
                    <p>Subtotal</p>
                    <p><span>0</span> VND</p>
                    <p>Standard Shipping</p>
                    <p><span>0</span> VND</p>
                    <p>Free when you <a href="{{url('login')}}">Sign in</a> or <a href="{{url('login')}}">Create an Account</a></p>
                    <p></p>
                    <p>Estimated Total</p>
                    <p><span>0</span> VND</p>
                    <p>Taxes finalized at the end of checkout</p>
                </div>
                <div class="checkout-wapper">
                    <input type="submit" value="Order now">
                </div>
            </div>
        </div>
    </div>
</form>