
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/home/styles/pages/checkout.css">
}

<main class="main-checkout">

    <partial name="_checkoutForm.cshtml" />


</main>
@section Scripts {
   <script src="~/home/scripts/checkout.js"></script>
}

