<section class="first-introduce-products">
      <div class="first-introduce-wrapper">
        <div class="first-introduce-left">
          <div class="introduce-left-container">
            <a href="">
              <img src="~/home/public/pictures/display-products/zara-man-jacket.jpg" alt="" height="770px">
            </a>
            <div class="first-introduce-left-info">
              <p>Private New</p>
              <a href="categories.html?data=new">SHOP NOW</a>
            </div>
          </div>
        </div>

        <div class="first-introduce-right">
          <div class="first-introduce-right-title">
            <p>Women's Clothes</p>
          </div>
          <div class="first-introduce-right-cardstack">
            <div class="cardstack">
              <div class="cardstack-picture">
                <div class="card-slide active">
                  <a href="">
                    <img src="~/home/public/pictures/display-products/zara-women-blazer.jpg" alt="">
                  </a>
                  <div class="card-slide-info">
                    <p>Blazer Shop</p>
                    <div>
                      <span>1 </span>|<span> 4</span>
                    </div>
                  </div>
                  <div class="cardstack-timer">
                    <div class="cardstack-timer-run"></div>
                  </div>
                </div>

                <div class="card-slide">
                  <div class="card-slide-box">
                    <a href="">
                      <img src="~/home/public/pictures/display-products/zara-women-dress.jpg" alt="">
                    </a>
                    <div class="card-slide-info">
                      <p>Dress Shop</p>
                      <div>
                        <span>2 </span>|<span> 4</span>
                      </div>
                    </div>
                  </div>
                  <div class="cardstack-timer">
                    <div class="cardstack-timer-run"></div>
                  </div>
                </div>

                <div class="card-slide">
                  <div class="card-slide-box">
                    <a href="">
                      <img src="~/home/public/pictures/display-products/zara-women-jeans.jpg" alt="">
                    </a>
                    <div class="card-slide-info">
                      <p>Jeans Shop</p>
                      <div>
                        <span>3 </span>|<span> 4</span>
                      </div>
                    </div>
                  </div>
                  <div class="cardstack-timer">
                    <div class="cardstack-timer-run"></div>
                  </div>
                </div>

                <div class="card-slide">
                  <div class="card-slide-box">
                    <a href="">
                      <img src="~/home/public/pictures/display-products/zara-women-shirt-2.jpg" alt="">
                    </a>
                    <div class="card-slide-info">
                      <p>Shirt Shop</p>
                      <div>
                        <span>4 </span>|<span> 4</span>
                      </div>
                    </div>
                  </div>
                  <div class="cardstack-timer">
                    <div class="cardstack-timer-run"></div>
                  </div>
                </div>
              </div>

              <div class="cardstack-btn">
                <div class="btn arrow-right">
                  <i class="ri-arrow-right-s-line"></i>
                </div>

                <div class="btn arrow-left">
                  <i class="ri-arrow-left-s-line"></i>
                </div>

                <div class="btn pause">
                  <i class="ri-pause-mini-line"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>