@{
    var isFeaturedCategoies = ViewData["Categories"] as List<PrivateWeb.Models.Category>;
}

<section class="third-introduce-products">
    <div class="third-introduce-title">
        <h2>Our Special Products</h2>
    </div>
    <div class="third-introduce-content">
        <div class="third-introduce">
            @if (isFeaturedCategoies != null && isFeaturedCategoies.Any())
            {
                @foreach (var category in isFeaturedCategoies)
                {
                    <div>
                        <a href="@Url.Action("Index", "Categories", new { categoryName = category.Name, categoryId = category.Id })">
                            <img src="@Url.Content("~/UploadHome/category/thumb/" + @category.Image)" alt="">
                        </a>
                        <div>
                            <p class="third-introduce-name">@category.Name</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
